#hero {
    height: 100vh;
    z-index: 2;
    position: relative;
}

#hero .surround {
    border: 1px solid #FFFF00;
    margin-top: 150px;
    padding: 20px;
    display: inline-block;
}

#hero-bg {
    height: 100vh;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    aspect-ratio: initial;
    position: absolute;
}

.preview-image{
    height: 100vh;
    z-index: 1;
    position: absolute;
    aspect-ratio: initial;
}

#navigation-bar {
    z-index: 100;
}

.item-display-image {
    width: 100%;
    height: 150px;
}

.credential-form{
    margin-top: 200px;
    margin-left: 50px;
}

.no-scroll{
    height: 100vh;
    overflow: hidden;
}

.verification{
    display: none;
}

@media screen and (max-width: 768px) {
    .preview-image{
        width: 100%;
    }
    
}