* {
    box-sizing: border-box;
}

#hero {
    height: 100vh;
    background-image: url('../images/photo-1615719413546-198b25453f85.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    position: relative;
}

#hero .surround {
    border: 1px solid #FFFF00;
    margin-top: 200px;
    padding: 20px;
    display: inline-block;
}

/* 
#hero-bg {
    height: 100vh;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    aspect-ratio: initial;
    position: absolute;
} */




#navigation-bar {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 0; */
    /* outline: 10px solid blue; */
}

.item-display-image {
    width: 100%;
    height: 150px;
}

.credential-form {
    margin-top: 200px;
    margin-left: 50px;
}

#verification {
    display: none;
}

.credential-body {
    height: 100vh;
    padding: 0px;
    overflow: hidden;
}

.credential-body .row {
    height: 100vh;
    max-height: 100%;
}

.preview-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media (max-width: 768px) {
    .preview-image {
        position: absolute;
        z-index: -1;
    }

    .credential-form{
        z-index: 1000;
        width: 90%;
        margin: 0 auto;
        margin-top: 50%;
    }


}